    body {
        display: flex;
        flex-direction: column;
        font-family: 'Segoe UI', sans-serif;
        padding: 2dvh;
        max-width: 400px;
        margin: 100px auto;
        border-style: groove;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    h1, h2 {
        text-align: center;
    }

    img{
        max-height: 50px;
        padding-left: 175px ;
        padding-top: 10px;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        box-sizing: border-box;
    }

    button {
        margin-top: 20px;
        width: 100%;
        padding: 10px;
        background-color: #0078D7;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
    }

    button:hover {
        background-color: #005fa3;
    }

